@font-face{
	font-family: 'TitilliumWeb';

	src: url('../assets/fonts/titilliumweb.eot');

	src: url('../assets/fonts/titilliumweb.eot?iefix') format('eot'),

	url('../assets/fonts/titilliumweb.woff') format('woff'),

	url('../assets/fonts/titilliumweb.ttf') format('truetype'),

	url('../assets/fonts/titilliumweb.svg#webfont') format('svg');

	font-weight: normal;

	font-style: normal;
}
@font-face{
	font-family: 'TitilliumWebBold';

	src: url('../assets/fonts/titilliumwebbold.eot');

	src: url('../assets/fonts/titilliumwebbold.eot?iefix') format('eot'),

	url('../assets/fonts/titilliumwebbold.woff') format('woff'),

	url('../assets/fonts/titilliumwebbold.ttf') format('truetype'),

	url('../assets/fonts/titilliumwebbold.svg#webfont') format('svg');

	font-weight: normal;

	font-style: normal;
}
@font-face{
	font-family: 'MavenProBold';

	src: url('../assets/fonts/Mavenprobold.eot');

	src: url('../assets/fonts/Mavenprobold.eot?iefix') format('eot'),

	url('../assets/fonts/Mavenprobold.woff') format('woff'),

	url('../assets/fonts/Mavenprobold.ttf') format('truetype'),

	url('../assets/fonts/Mavenprobold.svg#webfont') format('svg');

	font-weight: bold;

	font-style: normal;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	min-height: 100%;
	max-width: 1800px;
	background-color: #fff;
	font-family: 'TitilliumWeb', sans-serif;
	overflow: hidden;
	overflow-y: scroll;
}
header {
	width: 100%;
}
nav {
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'TitilliumWebBold', sans-serif;
}
h1 {
	font-size: 1.88em;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 4px;
	line-height: 1.0em;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color:#454545;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.header-background {
	position: absolute;
}
.header-top {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 70px 200px;
}
.logo-header {
	font-size: 1.8em;
	letter-spacing: 0.55px;
	padding-top: 3px;
	color: #85868b;
}
.logo-header strong {
	color: #5b4295;
}
.main-menu {
	padding-top: 8px;
}
.main-menu-items-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	height: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	position: relative;
	z-index: 100;
}
.main-menu-item {
	align-self: center;
	box-sizing: border-box;
}
.main-menu-item a {
	vertical-align: middle;
	color: #454545;
	text-decoration: none;
}
.main-menu-item a:hover, .menu-item a:active{
	color: #2eb398;
}
.lang-menu-items-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	position: relative;
	color: #959595;
	z-index: 100;
}
.lang-menu-item  {
	color: #959595;
}
.lang-menu-item .active-lang {
	border-bottom: solid 1px #959595;
}
.lang-menu-item a {
	vertical-align: middle;
	color: #959595;
	text-decoration: none;
	padding: 0 10px;
}
.lang-menu-item:first-child a {
	padding-left: 0;
	padding-right: 10px;
}
.lang-menu-item:last-child a {
	padding-right: 0;
	padding-left: 10px;
}
.active-lang a {
	font-weight: bold;
}
.lang-menu-item a:hover, .lang-item a:active{
	font-weight: bold;
}
.sequrity-container {
	position: relative;
}
.portfolio-container-row {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin: -60px;
}
.portfolio-container-row:first-child{
	padding-top: 140px;
}
.portfolio-container-row:last-child{
	padding-bottom: 138px;
}
.portfolio-item {
	align-self: center;
}
.about-container {
	position: relative;
	background-color: #2eb398;
	color: #d7fcf5;
}
.social-logo {
	display: block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
.social-logo:hover {
	display: block;
	filter: initial;
	-webkit-filter: initial;
	-moz-filter: initial;
	-o-filter: initial;
	-ms-filter: initial;
}
.social-link:after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(46, 179, 152, 0.5);
	position: relative;
	display: block;
	bottom: 24px;
}
.social-link:hover:after {
	display: none;
}
.blog-container {
	position: relative;
	background-color: #323232;
	height: 564px;
	color: #e0e0e0;
}
.location-logo {
	padding-left: 2px;
}
.copyright-inner {
	background-color: #222222;
}
.copyright-inner > p{
	color: #454545;
	font-size: 0.7em;
	font-family: 'MavenProRegular', serif;
	padding: 15px;
	padding-left: 40px;
}
